@{
    ViewBag.Title = "admin"; //title
}
<div>



    <div class="card">


        <div class="card-body">


            <div class="container mt-3">
                <h2>ตารางรายการสินค้า</h2>
                
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>ชื่อสินค้า</th>
                            <th>ราคา</th>
                            <th>รายละเอยีด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>อาหารหมา</td>
                            <td>39</td>
                            <td>ไม่รุ้</td>
                        </tr>
                        <tr>
                            <td>อาหารแมว</td>
                            <td>199</td>
                            <td>สว= สวะ</td>
                        </tr>
                        <tr>
                            <td>อาหารลิง</td>
                            <td>100</td>
                            <td>ตุ่</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>