@{
    ViewBag.Title = "Home Page"; //title
} 

<div>

    

    <div class="card">


        <div class="card-body">


            <div class="row ">



                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img src="https://manoonpetshop.com/upload-img/Picture_Product/Buzz/Cat/8854052502102.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">สินค้าที่ 1</p>
                            <p class="card-text">รายละเอียดสินค้ามีดังนี้ ว้าวขายดีมากๆเลยนะเะอลองดุไหม.</p>
                            <a href="#" class="btn btn-primary">ยืนยัน</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img src="https://manoonpetshop.com/upload-img/Picture_Product/Purina_One/8850125085015.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">สินค้าที่ 2</p>
                            <p class="card-text">รายละเอียดสินค้ามีดังนี้ ว้าวขายดีมากๆเลยนะเะอลองดุไหม.</p>
                            <a href="#" class="btn btn-primary">ยืนยัน</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 24rem;">
                        <img src="https://manoonpetshop.com/upload-img/Picture_Product/SmartHeart/Dry/SmartHeart/8850477840157.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">สินค้าที่ 3.</p>
                            <p class="card-text">รายละเอียดสินค้ามีดังนี้ ว้าวขายดีมากๆเลยนะเะอลองดุไหม.</p>
                            <a href="#" class="btn btn-primary">ยืนยัน</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
  
</div>